/*登录卡选项*/
.top{
  width: 768px;
  height: 200px;
  margin:10px auto;
}
/*top最上面的--整体分上中下结构，上面暂无内容，中间登录，下面版权*/
.login{
  background:#eae3e3;
  opacity: .9;
  width:468px;
  height:420px;
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
}
.choose ul {
  list-style: none;
  height: 30px;
  font-size: 20px;
  line-height: 40px;

}
.choose ul li {
  cursor: pointer;
  float: left;
  list-style: none;
  height: 35px;
  padding: 0px 50px;
  color: #20366b;
}
li:hover{
  border-bottom:3px solid  #20366b;
}
.hidden{
  display: none;
}
.funct .name{
  color: #302C2C;
  font-size: 15px;
  margin-left: 100px;
  margin-top:50px;
  top:30px;
  margin-bottom: 5px;
  color: #20366b;
}
.funct .passw{
  color: #302C2C;
  font-size: 15px;
  margin-left: 100px;
  margin-top:10px;
  margin-bottom: 5px;
  color: #20366b;
}
.funct .ntext{
  line-height: 30px;
  width:250px;
  color: #20366b;
  position: absolute;
  left: 100px;
}
.funct .ptext{
  line-height: 30px;
  width:250px;
  color: #20366b;
  position: absolute;
  left: 100px;
}
.ntext:focus,.ptext:focus{
  box-shadow: 1px 0px 3px 1px #C2B9B9;
}
.loader{
  width:250px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  left: 100px;
  padding: 0px 30px;
  font-size: 20px;
  top: 63%;
}
.nosign{
  text-align: center;
  color: black;
}
.apply{
  width:240px;
  height: 30px;
  position: absolute;
  top:560px;
  left:560px;
  border: 1px solid rgba(250, 162, 20, 0.93);
  padding-left:19px;
  font-size: 20px;
  color: black;
  text-align: center;

}
.apply:hover{
  border:3px solid #C2B9B9;
}

.loader:hover{
  background-color:  #20366b;
  color: #eae3e3;
}
.footer{
  width:1300px;
  height:20px;
  position:absolute;
  bottom: 2%;
  color: #fff;
}
/* 注册和忘记密码*/
a{
  text-decoration: none;
}
.registerbtn{
  position: absolute;
  margin-left: 110px;
  margin-top:35px;
  width: 120px;
  color: #20366b;
  height: 50px;
}
.registerbtn a{
  color: #20366b;
}
.forgetbtn{
  position: absolute;
  margin-left: 280px;
  margin-top:35px;
  width: 120px;
  height: 50px;
  color: #20366b;
}