<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.td.pm.mapper.ApplyEquipMapper" >
  <resultMap id="BaseResultMap" type="com.td.pm.bean.ApplyEquip" >
    <id column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="apply_equip_id" property="applyEquipId" jdbcType="VARCHAR" />
    <result column="apply_user_id" property="applyUserId" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="DATE" />
    <result column="start_time" property="startTime" jdbcType="TIME" />
    <result column="end_time" property="endTime" jdbcType="TIME" />
    <result column="apply_pay" property="applyPay" jdbcType="INTEGER" />
    <result column="apply_paid" property="applyPaid" jdbcType="INTEGER" />
    <result column="apply_num" property="applyNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    apply_id, apply_equip_id, apply_user_id, apply_date, start_time, end_time, apply_pay, 
    apply_paid, apply_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.td.pm.bean.ApplyEquipExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from applyequip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from applyequip
    where apply_id = #{applyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from applyequip
    where apply_id = #{applyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.td.pm.bean.ApplyEquipExample" >
    delete from applyequip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.td.pm.bean.ApplyEquip" >
    insert into applyequip (apply_id, apply_equip_id, apply_user_id, 
      apply_date, start_time, end_time, 
      apply_pay, apply_paid, apply_num
      )
    values (#{applyId,jdbcType=INTEGER}, #{applyEquipId,jdbcType=VARCHAR}, #{applyUserId,jdbcType=VARCHAR}, 
      #{applyDate,jdbcType=DATE}, #{startTime,jdbcType=TIME}, #{endTime,jdbcType=TIME}, 
      #{applyPay,jdbcType=INTEGER}, #{applyPaid,jdbcType=INTEGER}, #{applyNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.td.pm.bean.ApplyEquip" >
    insert into applyequip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="applyEquipId != null" >
        apply_equip_id,
      </if>
      <if test="applyUserId != null" >
        apply_user_id,
      </if>
      <if test="applyDate != null" >
        apply_date,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="applyPay != null" >
        apply_pay,
      </if>
      <if test="applyPaid != null" >
        apply_paid,
      </if>
      <if test="applyNum != null" >
        apply_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="applyEquipId != null" >
        #{applyEquipId,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null" >
        #{applyUserId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=DATE},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIME},
      </if>
      <if test="applyPay != null" >
        #{applyPay,jdbcType=INTEGER},
      </if>
      <if test="applyPaid != null" >
        #{applyPaid,jdbcType=INTEGER},
      </if>
      <if test="applyNum != null" >
        #{applyNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.td.pm.bean.ApplyEquipExample" resultType="java.lang.Integer" >
    select count(*) from applyequip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update applyequip
    <set >
      <if test="record.applyId != null" >
        apply_id = #{record.applyId,jdbcType=INTEGER},
      </if>
      <if test="record.applyEquipId != null" >
        apply_equip_id = #{record.applyEquipId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserId != null" >
        apply_user_id = #{record.applyUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDate != null" >
        apply_date = #{record.applyDate,jdbcType=DATE},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIME},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIME},
      </if>
      <if test="record.applyPay != null" >
        apply_pay = #{record.applyPay,jdbcType=INTEGER},
      </if>
      <if test="record.applyPaid != null" >
        apply_paid = #{record.applyPaid,jdbcType=INTEGER},
      </if>
      <if test="record.applyNum != null" >
        apply_num = #{record.applyNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update applyequip
    set apply_id = #{record.applyId,jdbcType=INTEGER},
      apply_equip_id = #{record.applyEquipId,jdbcType=VARCHAR},
      apply_user_id = #{record.applyUserId,jdbcType=VARCHAR},
      apply_date = #{record.applyDate,jdbcType=DATE},
      start_time = #{record.startTime,jdbcType=TIME},
      end_time = #{record.endTime,jdbcType=TIME},
      apply_pay = #{record.applyPay,jdbcType=INTEGER},
      apply_paid = #{record.applyPaid,jdbcType=INTEGER},
      apply_num = #{record.applyNum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.td.pm.bean.ApplyEquip" >
    update applyequip
    <set >
      <if test="applyEquipId != null" >
        apply_equip_id = #{applyEquipId,jdbcType=VARCHAR},
      </if>
      <if test="applyUserId != null" >
        apply_user_id = #{applyUserId,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        apply_date = #{applyDate,jdbcType=DATE},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIME},
      </if>
      <if test="applyPay != null" >
        apply_pay = #{applyPay,jdbcType=INTEGER},
      </if>
      <if test="applyPaid != null" >
        apply_paid = #{applyPaid,jdbcType=INTEGER},
      </if>
      <if test="applyNum != null" >
        apply_num = #{applyNum,jdbcType=INTEGER},
      </if>
    </set>
    where apply_id = #{applyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.td.pm.bean.ApplyEquip" >
    update applyequip
    set apply_equip_id = #{applyEquipId,jdbcType=VARCHAR},
      apply_user_id = #{applyUserId,jdbcType=VARCHAR},
      apply_date = #{applyDate,jdbcType=DATE},
      start_time = #{startTime,jdbcType=TIME},
      end_time = #{endTime,jdbcType=TIME},
      apply_pay = #{applyPay,jdbcType=INTEGER},
      apply_paid = #{applyPaid,jdbcType=INTEGER},
      apply_num = #{applyNum,jdbcType=INTEGER}
    where apply_id = #{applyId,jdbcType=INTEGER}
  </update>
</mapper>