<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.td.pm.mapper.EquipmentsMapper" >
  <resultMap id="BaseResultMap" type="com.td.pm.bean.Equipments" >
    <id column="equip_id" property="equipId" jdbcType="VARCHAR" />
    <result column="equip_name" property="equipName" jdbcType="VARCHAR" />
    <result column="equip_total" property="equipTotal" jdbcType="INTEGER" />
    <result column="equip_rest" property="equipRest" jdbcType="INTEGER" />
    <result column="equip_const" property="equipConst" jdbcType="INTEGER" />
    <result column="equip_photo" property="equipPhoto" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    equip_id, equip_name, equip_total, equip_rest, equip_const, equip_photo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.td.pm.bean.EquipmentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from equipments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from equipments
    where equip_id = #{equipId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from equipments
    where equip_id = #{equipId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.td.pm.bean.EquipmentsExample" >
    delete from equipments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.td.pm.bean.Equipments" >
    insert into equipments (equip_id, equip_name, equip_total, 
      equip_rest, equip_const, equip_photo
      )
    values (#{equipId,jdbcType=VARCHAR}, #{equipName,jdbcType=VARCHAR}, #{equipTotal,jdbcType=INTEGER}, 
      #{equipRest,jdbcType=INTEGER}, #{equipConst,jdbcType=INTEGER}, #{equipPhoto,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.td.pm.bean.Equipments" >
    insert into equipments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="equipId != null" >
        equip_id,
      </if>
      <if test="equipName != null" >
        equip_name,
      </if>
      <if test="equipTotal != null" >
        equip_total,
      </if>
      <if test="equipRest != null" >
        equip_rest,
      </if>
      <if test="equipConst != null" >
        equip_const,
      </if>
      <if test="equipPhoto != null" >
        equip_photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="equipId != null" >
        #{equipId,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="equipTotal != null" >
        #{equipTotal,jdbcType=INTEGER},
      </if>
      <if test="equipRest != null" >
        #{equipRest,jdbcType=INTEGER},
      </if>
      <if test="equipConst != null" >
        #{equipConst,jdbcType=INTEGER},
      </if>
      <if test="equipPhoto != null" >
        #{equipPhoto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.td.pm.bean.EquipmentsExample" resultType="java.lang.Integer" >
    select count(*) from equipments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update equipments
    <set >
      <if test="record.equipId != null" >
        equip_id = #{record.equipId,jdbcType=VARCHAR},
      </if>
      <if test="record.equipName != null" >
        equip_name = #{record.equipName,jdbcType=VARCHAR},
      </if>
      <if test="record.equipTotal != null" >
        equip_total = #{record.equipTotal,jdbcType=INTEGER},
      </if>
      <if test="record.equipRest != null" >
        equip_rest = #{record.equipRest,jdbcType=INTEGER},
      </if>
      <if test="record.equipConst != null" >
        equip_const = #{record.equipConst,jdbcType=INTEGER},
      </if>
      <if test="record.equipPhoto != null" >
        equip_photo = #{record.equipPhoto,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update equipments
    set equip_id = #{record.equipId,jdbcType=VARCHAR},
      equip_name = #{record.equipName,jdbcType=VARCHAR},
      equip_total = #{record.equipTotal,jdbcType=INTEGER},
      equip_rest = #{record.equipRest,jdbcType=INTEGER},
      equip_const = #{record.equipConst,jdbcType=INTEGER},
      equip_photo = #{record.equipPhoto,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.td.pm.bean.Equipments" >
    update equipments
    <set >
      <if test="equipName != null" >
        equip_name = #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="equipTotal != null" >
        equip_total = #{equipTotal,jdbcType=INTEGER},
      </if>
      <if test="equipRest != null" >
        equip_rest = #{equipRest,jdbcType=INTEGER},
      </if>
      <if test="equipConst != null" >
        equip_const = #{equipConst,jdbcType=INTEGER},
      </if>
      <if test="equipPhoto != null" >
        equip_photo = #{equipPhoto,jdbcType=VARCHAR},
      </if>
    </set>
    where equip_id = #{equipId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.td.pm.bean.Equipments" >
    update equipments
    set equip_name = #{equipName,jdbcType=VARCHAR},
      equip_total = #{equipTotal,jdbcType=INTEGER},
      equip_rest = #{equipRest,jdbcType=INTEGER},
      equip_const = #{equipConst,jdbcType=INTEGER},
      equip_photo = #{equipPhoto,jdbcType=VARCHAR}
    where equip_id = #{equipId,jdbcType=VARCHAR}
  </update>
</mapper>