<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.td.pm.mapper.LostFoundsMapper" >
  <resultMap id="BaseResultMap" type="com.td.pm.bean.LostFounds" >
    <id column="lad_id" property="ladId" jdbcType="INTEGER" />
    <result column="lad_date" property="ladDate" jdbcType="TIMESTAMP" />
    <result column="lad_descripe" property="ladDescripe" jdbcType="VARCHAR" />
    <result column="loser_name" property="loserName" jdbcType="VARCHAR" />
    <result column="founder_name" property="founderName" jdbcType="VARCHAR" />
    <result column="lose_phone" property="losePhone" jdbcType="VARCHAR" />
    <result column="founder_phone" property="founderPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    lad_id, lad_date, lad_descripe, loser_name, founder_name, lose_phone, founder_phone
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.td.pm.bean.LostFoundsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lost_founds
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lost_founds
    where lad_id = #{ladId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lost_founds
    where lad_id = #{ladId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.td.pm.bean.LostFoundsExample" >
    delete from lost_founds
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.td.pm.bean.LostFounds" >
    insert into lost_founds (lad_id, lad_date, lad_descripe, 
      loser_name, founder_name, lose_phone, 
      founder_phone)
    values (#{ladId,jdbcType=INTEGER}, #{ladDate,jdbcType=TIMESTAMP}, #{ladDescripe,jdbcType=VARCHAR}, 
      #{loserName,jdbcType=VARCHAR}, #{founderName,jdbcType=VARCHAR}, #{losePhone,jdbcType=VARCHAR}, 
      #{founderPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.td.pm.bean.LostFounds" >
    insert into lost_founds
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ladId != null" >
        lad_id,
      </if>
      <if test="ladDate != null" >
        lad_date,
      </if>
      <if test="ladDescripe != null" >
        lad_descripe,
      </if>
      <if test="loserName != null" >
        loser_name,
      </if>
      <if test="founderName != null" >
        founder_name,
      </if>
      <if test="losePhone != null" >
        lose_phone,
      </if>
      <if test="founderPhone != null" >
        founder_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ladId != null" >
        #{ladId,jdbcType=INTEGER},
      </if>
      <if test="ladDate != null" >
        #{ladDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ladDescripe != null" >
        #{ladDescripe,jdbcType=VARCHAR},
      </if>
      <if test="loserName != null" >
        #{loserName,jdbcType=VARCHAR},
      </if>
      <if test="founderName != null" >
        #{founderName,jdbcType=VARCHAR},
      </if>
      <if test="losePhone != null" >
        #{losePhone,jdbcType=VARCHAR},
      </if>
      <if test="founderPhone != null" >
        #{founderPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.td.pm.bean.LostFoundsExample" resultType="java.lang.Integer" >
    select count(*) from lost_founds
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lost_founds
    <set >
      <if test="record.ladId != null" >
        lad_id = #{record.ladId,jdbcType=INTEGER},
      </if>
      <if test="record.ladDate != null" >
        lad_date = #{record.ladDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ladDescripe != null" >
        lad_descripe = #{record.ladDescripe,jdbcType=VARCHAR},
      </if>
      <if test="record.loserName != null" >
        loser_name = #{record.loserName,jdbcType=VARCHAR},
      </if>
      <if test="record.founderName != null" >
        founder_name = #{record.founderName,jdbcType=VARCHAR},
      </if>
      <if test="record.losePhone != null" >
        lose_phone = #{record.losePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.founderPhone != null" >
        founder_phone = #{record.founderPhone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lost_founds
    set lad_id = #{record.ladId,jdbcType=INTEGER},
      lad_date = #{record.ladDate,jdbcType=TIMESTAMP},
      lad_descripe = #{record.ladDescripe,jdbcType=VARCHAR},
      loser_name = #{record.loserName,jdbcType=VARCHAR},
      founder_name = #{record.founderName,jdbcType=VARCHAR},
      lose_phone = #{record.losePhone,jdbcType=VARCHAR},
      founder_phone = #{record.founderPhone,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.td.pm.bean.LostFounds" >
    update lost_founds
    <set >
      <if test="ladDate != null" >
        lad_date = #{ladDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ladDescripe != null" >
        lad_descripe = #{ladDescripe,jdbcType=VARCHAR},
      </if>
      <if test="loserName != null" >
        loser_name = #{loserName,jdbcType=VARCHAR},
      </if>
      <if test="founderName != null" >
        founder_name = #{founderName,jdbcType=VARCHAR},
      </if>
      <if test="losePhone != null" >
        lose_phone = #{losePhone,jdbcType=VARCHAR},
      </if>
      <if test="founderPhone != null" >
        founder_phone = #{founderPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where lad_id = #{ladId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.td.pm.bean.LostFounds" >
    update lost_founds
    set lad_date = #{ladDate,jdbcType=TIMESTAMP},
      lad_descripe = #{ladDescripe,jdbcType=VARCHAR},
      loser_name = #{loserName,jdbcType=VARCHAR},
      founder_name = #{founderName,jdbcType=VARCHAR},
      lose_phone = #{losePhone,jdbcType=VARCHAR},
      founder_phone = #{founderPhone,jdbcType=VARCHAR}
    where lad_id = #{ladId,jdbcType=INTEGER}
  </update>
</mapper>